@import "tailwindcss";
.song-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.song-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
